<h1 align="center">Support</h1>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et lobortis nunc. Morbi semper velit id dui vestibulum, nec imperdiet sem eleifend. Donec sed fringilla elit, eu efficitur nunc. Phasellus et semper nisl. Praesent varius tempus quam, a ullamcorper enim pharetra vel. Duis facilisis elit metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vitae ultricies nisl. Cras arcu dui, porttitor sed leo et, venenatis aliquam lectus. Donec sed purus quis elit hendrerit placerat non vitae felis. Mauris ut mollis justo, eu dictum odio. Sed dapibus eu mi ut scelerisque. Nullam accumsan vestibulum diam ut condimentum. </p>
<p>Nunc ac semper tortor. Sed congue auctor risus eget scelerisque. Fusce eleifend orci volutpat est commodo accumsan. Pellentesque tincidunt vitae nulla vitae efficitur. Fusce tellus tortor, consequat in lobortis nec, pellentesque et libero. Etiam at sollicitudin lectus, at aliquam urna. Phasellus ac dui nisi. Quisque convallis ligula quis ipsum venenatis suscipit. Proin in nisi a enim sollicitudin semper sed sed metus. Suspendisse potenti. Aliquam dignissim efficitur mauris non pharetra. Sed sed condimentum nunc. Donec eget erat in nisl molestie gravida eu porta risus. </p>
<p>Nam sed metus felis. Nullam maximus fermentum sodales. Fusce scelerisque metus dui, id placerat metus tempor sed. Praesent quis ex at ex vulputate pharetra. Etiam sed scelerisque tellus, sed sagittis arcu. In non mauris consectetur arcu facilisis venenatis. Nam lectus orci, volutpat eu odio eget, cursus sollicitudin neque. Praesent quis sollicitudin quam. Duis ut mi at erat congue hendrerit id sed quam. Aenean semper odio eget erat tristique, in tempor diam suscipit. Integer vitae justo scelerisque, gravida neque a, egestas eros. Donec consectetur tempor pretium. Fusce ac nibh eu justo blandit cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque enim tellus, euismod id risus sit amet, ultricies eleifend metus. Pellentesque et ante et nulla convallis pellentesque. </p>
<p>Curabitur molestie libero ut massa rhoncus, nec porta sapien malesuada. Fusce congue non risus quis consectetur. Phasellus vitae nisl nec odio finibus gravida a eu lorem. Morbi blandit nulla ac diam rhoncus volutpat. Mauris nec tortor quis urna iaculis accumsan. Nulla laoreet augue tellus, eget condimentum quam congue sit amet. Pellentesque lacinia nisl condimentum nulla ultricies condimentum. Nunc sed vulputate nibh. Pellentesque nisl diam, volutpat nec interdum in, blandit sed diam. Aliquam vel lectus maximus, tincidunt velit id, fringilla purus. Cras quis massa non magna accumsan aliquet. Aliquam vel nisl sapien. Sed ut nisl porttitor, fringilla ante non, imperdiet ipsum. </p>
<p>Mauris luctus nibh mi, ut scelerisque nunc interdum nec. Ut elementum massa commodo sapien gravida blandit. Duis molestie venenatis hendrerit. Aliquam erat volutpat. Ut posuere dui dolor, sit amet pulvinar turpis euismod ac. Quisque tincidunt neque sit amet lectus molestie, sed consectetur nisl efficitur. Praesent malesuada, lorem vitae sagittis condimentum, enim orci ornare odio, sit amet interdum nisi ex at dolor. Donec elementum posuere quam, sollicitudin luctus nisl ultricies ut. Duis eu vestibulum ipsum. Quisque vitae ipsum iaculis ante molestie gravida. Nunc vehicula ut ex vitae pellentesque. Maecenas elementum rutrum risus, id ornare tellus tempor non. Ut posuere metus at ipsum posuere aliquam. Suspendisse eleifend dolor ac dictum pharetra. Nulla a sagittis ante, tristique tristique lorem. Praesent vitae eros malesuada, consequat nulla a, fermentum diam. </p>

<style>
	h1 {
	    font-size: 70px;
	    line-height: 90px;
	    font-family: DauphinPlain;
	    font-weight: 400;
	}
	hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,.75),rgba(0,0,0,0));
	}
	p{
		text-align: justify;
		margin: 0 0 15px;
	}
</style>