<div class="container">
	<footer class="footer">
		<small>
			Coppyright &copy; <a href="http://guides.rubyonrails.org/">Ruby on Rails open education </a>
			by <a href="https://www.facebook.com/tai.tpm">Tai-Tpm</a>
		</small>
		<nav>
		<ul>
			<li><%=link_to "About", about_path%></li>
		</ul>
		</nav>
	</footer>	
</div>